.box {
    margin-right: -10px;
    margin-left: -10px;
}

.map-elem {
    position: relative;
    text-align: center;
    color: white;
}

.map-name {
    background-color: rgba(16, 26, 36, 0.7);
    width: 100%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
